{% extends "hub/hub_base.html" %}

{% block title %}SkillHub - Search Skills{% endblock %}

{% block content %}
<div class="content">
    <h2>Search Results for "{{ query }}"</h2>
    {% if results %}
        <div class="search-results">
        {% for skill in results %}
            {% include "hub/skill_card.html" %}
        {% endfor %}
        </div>
    {% else %}
        <p>No skills found matching your query.</p>
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        $('.skill-card .card-content').hide();



        $('.project-link').on('click', function(e) {
            e.preventDefault();
            var projectId = $(this).data('project');
            $('.project-link').removeClass('has-text-weight-bold');
            $(this).addClass('has-text-weight-bold');
            $('#selected-project-title').text(projectId);
            $('.skill-card').hide();
            $('.skill-card[data-project="' + projectId + '"]').show();
            $('.skill-card[data-project="' + projectId + '"] .card-content').first().show();
        });

        // Show the first project by default
        const firstProject = $('.project-link').first().data('project');
        $('.project-link').first().addClass('has-text-weight-bold');
        $('#selected-project-title').text(firstProject);
        $('.skill-card[data-project="' + firstProject + '"]').show();
        $('.skill-card[data-project="' + firstProject + '"] .card-content').first().show();
    });

    function copyToClipboard() {
        var text = '$ pilot grab skills ' + $('#selected-project-title').text();
        navigator.clipboard.writeText(text).then(function() {
            alert('Copied to clipboard');
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    }
</script>
{% endblock %}
